   /* Estilos generales */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

  header {
    background: #6c5ce7;
    color: white;
    padding: 20px 0;
    text-align: center;
  }

  nav {
    background-color: #271c77;
  }

  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0;
    padding: 10px 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    text-decoration: underline;
  }

  .container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e8f4fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
  }

  /* Posicionamiento */
  .image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  .image-container img {
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Animaciones */
  .box {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
  }

  .box:hover {
    transform: translateY(-10px);
    background-color: #d4f0fc;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .slide-in {
    transform: translateX(-100%);
    animation: slideIn 1s ease-out forwards;
  }

  @keyframes slideIn {
    to {
      transform: translateX(0);
    }
  }

  .zoom-in {
    transform: scale(0);
    animation: zoomIn 1s ease-in forwards;
  }

  @keyframes zoomIn {
    to {
      transform: scale(1);
    }
  }